.home {
    display: flex;
}

.productContainer {
    width: 100%;
    padding: 20px;
    gap: 20px
}

.filters {
    display: none;
}

.filters > span {
    padding-bottom: 20px;
}

.filters .title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

@media (min-width: 440px) {
    .productContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .products {
        /* width: 50%; */
    }
}

@media (min-width: 720px) {
    .search > .form-control {
        width: 450px;
    }

    .productContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .navBar {
        height: 80px;
    }

    .search > .form-control {
        width: 650px;
    }

    .productContainer {
        width: 78%;
    }

    .filters {
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 10px;
        margin-top: 20px;
        height: 38vh;
        border-radius: 5px;
    }
}

@media (min-width: 1440px) {
    .search > .form-control {
        width: 850px;
    }

    .productContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}