/* .home {
    display: flex;
} */

.dropdown-menu {
    padding: 0 !important;
}

.cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.cartItemDetail {
    display: flex;
    align-items: center;
}

.cartItemDetail img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.cartItemDetail span {
    display: block;
    line-height: .4;
    margin-top: 8px;
}

.cartItemDetail small {
    color: rgb(149, 149, 149);
}

.cartBtn {
    width: 100%;
    margin-top: 15px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    color: #333 !important;
    background-color: #ccc !important;
    border: #ccc !important;
}

.productContainer {
    width: 100%;
    padding: 20px;
    gap: 20px
}

.filters {
    display: none;
}

.filters > span {
    padding-bottom: 20px;
}

.filters .title,
.summary .title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.list-group img {
    width: 80px;
}

.summary {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    margin-top: 20px;
    min-height: 38vh;
    border-radius: 5px;
}

@media (min-width: 440px) {
    .productContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .products {
        /* width: 50%; */
    }
}

@media (min-width: 720px) {
    .home {
        display: flex;
    }

    .search > .form-control {
        width: 450px;
    }

    .productContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    .summary {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .navBar {
        height: 80px;
    }

    .search > .form-control {
        width: 650px;
    }

    .productContainer {
        width: 78%;
    }

    .filters {
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 10px;
        margin-top: 20px;
        height: 42vh;
        border-radius: 5px;
    }

    .cartPage__list {
        width: 80%;
        padding: 0 10px;
    }

    .summary {
        width: 20%;
    }
}

@media (min-width: 1440px) {
    .search > .form-control {
        width: 850px;
    }

    .productContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}